* 
{
    margin:0;
    padding:0;
    border:0;
}

.tapume 
{
    background:url(../images/tapume.jpg) no-repeat center top;
    margin:0 auto;
    height:500px;
    width:550px;
    position:relative;
}

.tapume .git-code 
{
    color:#00ff00;
    font-size:15px;
    position:absolute;
    bottom:65px;
    left:0;
    width:550px;
    text-align:center;
}
