<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="default.html" />
    <head>
        <title>Home</title>
    </head>
    <body>
        <p>Skink CI website is still under construction.</p>
        <p>While it's not ready why not go to it's repository and give it a try?</p>
        <p>Reach <a href="git://github.com/heynemann/skink.git">skink at github</a> and give it a go.</p>
        <div style="width: 400px; height: 130px; position:absolute; left: 200px;">
            <pre>git clone git://github.com/heynemann/skink.git skink</pre>
        </div>
    </body>
</html>
